body {
    background-color: #FAF0E6;
}

.home-image {
    background-image: url(../../images/banner.jpg);
    background-color: #FAF0E6;
    height: 55em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}