.home-image {
    background-image: url(../../images/background.jpg);
    background-color: #FAF0E6;
    height: 55em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* height: 45vh; */
}